<section class="">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <div class="bg-blue p-3 d-flex justify-content-between">
        <div>
          <%= link_to '<', unauthenticated_root_path, class: 'back btn btn-outline-primary' %>
        </div>
        <h1 class="text-center text-white">Register</h1>
        <%= f.submit "Sign up", class: "btns mt-0" %>
      </div> 
  
  <%= render "devise/shared/error_messages", resource: resource %>
    
  <div class="field">
    <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "w-100", placeholder: "Name (required)" %>
  </div>

  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "w-100 m-0", placeholder: "Email (required)" %>
  </div>

  <div class="field">
     <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", class: "w-100", placeholder: "Password (required)" %>
    </div>

    <div class="field">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "w-100", placeholder: "Confirm password (required)" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</section>