<%= form_with(model: group) do |form| %>
  <div class="d-flex justify-content-center">
    <div>
      <% if group.errors.any? %>
        <div style="color: red">
          <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

          <ul>
            <% group.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
        <% end %>

        <div class="input">
          <%= form.label :name, style: "display: block", class: "required" %>
          <%= form.text_field :name, required: true, placeholder: "Name" %>
        </div>
        <strong class="required">Upload an image...</strong>
        <div class="input choose">
          <%= form.label :image, style: "display: none" %>
          <%= form.file_field :image, required: true, class:"input-file"%>
        </div>
        <p class="alert">Image should be in .jpg, .jpeg, .png*</p>
        
        <strong class="mb-5">All fields marked with <span class="required"></span> are required</strong>
        <div class="submit">
          <%= form.submit 'Save' %>
        </div>
    </div>    
  </div>
<% end %>
