  <%= link_to group_path(group) do %>
        <article id="<%= dom_id group %>" class="bg-white mb-2 p-2 container">
          <div class="me-5 d-flex justify-content-between">    
            <div class="w-45 d-flex justify-content-between">
              <div class="me-3 img-container">
                <% if group.image.attached? %>
                  <%= image_tag(group.image) %>
                <% end %>
              </div>

              <div class="mt-3">
                <h2><%= group.name %></h2>
                <p class="date mt-3"> <%= group.created_at.strftime('%d %b %Y') %></p>
              </div>
            </div>

            <p class="total-amount mt-1">$<%=group.total_amount%></p>
          </div>
        </article>
      <% end %>
      
