<%= link_to "Back to groups", groups_path, class: "btn btn-outline-secondary" %>
<%= render partial: 'group', collection: @groups %>

<h2 class="container my-4">List of Bills</h2>

<% if @bills.empty? %>
    <p class="text-center">No bills</p>
  <% else %>
    <% @group.recent_transactions.each do |bill| %>
      <%= link_to group_bill_path(@group, bill) do %>
        <div class="bg-orange bill container border d-flex justify-content-around m-auto">
          <div>
            <%= bill.name %>
          </div>
          <div>
            <%= bill.amount %>
          </div>
        </div>        
      <% end %>
    <% end %>
  <% end %>

<div class="container">
  <%= link_to "Add a new transaction", new_group_bill_path(@group), class: "btn btn-outline-secondary my-2" %>
  <%= button_to "Destroy this group", @group, method: :delete, class: "btn btn-outline-danger" %>
</div>
