<div id="<%= dom_id bill %>">
  <p>
    <strong>Name:</strong>
    <%= bill.name %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= bill.amount %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= bill.description %>
  </p>

  <p>
    <strong>Due date:</strong>
    <%= bill.due_date %>
  </p>

</div>
