<%= form_with(model: [group, bill] ) do |form| %>
  <% if bill.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(bill.errors.count, "error") %> prohibited this bill from being saved:</h2>

      <ul>
        <% bill.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block", class: "required" %>
    <%= form.text_field :name, required: true %>
  </div>

  <div>
    <%= form.label :amount, style: "display: block", class: "required" %>
    <%= form.number_field :amount %>
  </div>
  
   <%= form.label :category, style: "display: block" %>
   <%= form.collection_select :category, @categories, :id, :name, include_blank: true, prompt: "Select a category"%>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :due_date, style: "display: block" %>
    <%= form.date_field :due_date %>
  </div>

  <div>
    <%= form.submit "Save", class: "btn btn-outline-success" %>
  </div>
<% end %>
